.container_blok{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    .container_blok_text1{
        width: 422px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0;
    }
    .container_blok_text2{
        width: 368px;
        color: #616161;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0;
        margin-top: 7px;
    }
}
@media (max-width: 767px) {
    .container_blok{
        margin-left: 2px;
        .container_blok_text1{
        font-size: 22px;
        ;
        }
        .container_blok_text2{
        width: 320px;
        color: #616161;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0;
        margin-top: 7px;
        }
    }
    
}