.contactConnectionMainSection_container {
    width: 1440px;
    margin: auto;
}
.contactConnectionMainSection_container_blok {
    height: 923;
    display: flex;
    flex-wrap: wrap-reverse;

    justify-content: center;
    margin: 14px auto;
}
@media (max-width: 1439px) {
    .contactConnectionMainSection_container {
        width: 100%;
    }
    .contactConnectionMainSection_container_blok {
        width: 90%;
    }
}
